<main>
    <h1>Welcome to Doner Place!</h1>
    <p>We offer a wide variety of tasty doner kebab, cutosmized to your liking. Choose from different sizes of chicken, beef
        and lamb and any topping you want. Place your order now!</p>
    <div class="products">
        <h2>Admin</h2>

        <div class="product-card">
            <img src="/img/new.png">
            <a href="/admin/products/create" class="button product-title">Create Product</a>
        </div>

        {{#each chickenDoners}}
        <h2>Chicken Doner</h2>
        <div class="product-card">
            <img src="{{this.imageUrl}}">
            <a href="/admin/products/edit/{{this._id}}" class="control"><img class="control-img" src="/img/edit.png"></a>
            <a href="javascript:document.getElementById('deleteProduct').submit()" class="control"><img class="control-img" src="/img/delete.png"></a>
            <form action="/admin/products/delete/{{this._id}}" id="deleteProduct" method="post"></form>
        </div>
        {{/each}} {{#each beefDoners}}
        <h2>Beef Doner</h2>
        <div class="product-card">
            <img src="{{this.imageUrl}}">
            <a href="/admin/products/edit/{{this._id}}" class="control"><img class="control-img" src="/img/edit.png"></a>
            <a href="javascript:document.getElementById('deleteProduct').submit()" class="control"><img class="control-img" src="/img/delete.png"></a>
            <form action="/admin/products/delete/{{this._id}}" id="deleteProduct" method="post"></form>
        </div>
        {{/each}} {{#each lambDoners}}
        <h2>Lamb Doner</h2>
        <div class="product-card">
            <img src="{{this.imageUrl}}">
            <a href="/admin/products/edit/{{this._id}}" class="control"><img class="control-img" src="/img/edit.png"></a>
            <a href="javascript:document.getElementById('deleteProduct').submit()" class="control"><img class="control-img" src="/img/delete.png"></a>
            <form action="/admin/products/delete/{{this._id}}" id="deleteProduct" method="post"></form>
        </div>
        {{/each}}
    </div>
</main>