<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Demo Server</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <header>
            <span class="logo">Doner  Place</span> {{#if currentUser}}
            <form id="logout-form" action="/logout" method="post"></form>
            <span class="greeting">Welcome, {{currentUser.username}}! | <a href="javascript:document.getElementById('logout-form').submit()">[logout]</a></span>            {{/if}}

            <ul class="menu">
                {{#if currentUser}} {{#if currentUser.isAdmin}}
                <li><a class="button" href="/admin/index">Home</a></li>
                {{else}}
                <li><a class="button" href="/">Home</a></li>
                {{/if}} {{else}}
                <li><a class="button" href="/">Home</a></li>
                {{/if}} {{#if currentUser}} {{#if currentUser.isAdmin}}
                <li><a class="button" href="/admin/orders/status">Order Status</a></li>
                {{else}}
                <li><a class="button" href="/orders/status">Order Status</a></li>
                {{/if}} {{else}}
                <li><a class="button" href="/login">Login</a></li>
                <li><a class="button" href="/register">Register</a></li>
                {{/if}}
            </ul>
        </header>
        <main>
            {{#if globalError}}
            <span>{{globalError}}</span> {{/if}} {{{body}}}
        </main>
        <footer>Doner Place &copy; 2017</footer>
    </div>
</body>

</html>